{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Twitter Post Categoriser</h1>
            {% if phase_id > 0%}
                <p>Sie haben alle Beiträge der Phase {{ phase_id }} kategorisiert!</p>
            {% else %}
                <p>Es sind keine weiteren Beiträge zu kategorisieren.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
