<!DOCTYPE html>
<html lang="en">

<head>
    <title>Categoriser Tool</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="header">
        <h3 class="text-muted">Facebook Post Categoriser</h3>
    </div>
    <div class="jumbotron">
        <p>{{ beitrag.text }}</p>
    </div>

    <div>
        <table class="table">
            <tbody>
            <tr>
                <th>Anzahl Likes</th>
                <td>{{ beitrag.anzahl_likes }}</td>
            </tr>
            <tr>
                <th>Anzahl Shares</th>
                <td>{{ beitrag.anzahl_shares }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">

            <form>
                <div class="form-group row">
                    <div class="col col-lg-6">
                        <label for="cat_select">Cateogry</label>
                        <select class="form-control" id="cat_select">
                            <option>Produkt Werbung</option>
                            <option>Besondere Aktion (Rabatt)</option>
                            <option>Anderes Thema</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col col-lg-6">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Erfolgreich</label>
                        </div>
                    </div>
                </div>
                <a href="/generate">
                    <button type="submit" class="btn btn-primary btn-block">Aktualisieren</button>
                </a>
            </form>
        </div>
    </div>
</div>
</body>

</html>
