{% extends "layout.html" %}
{% block title %}Hilfe{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Überblick</div>
            <div class="panel-body">
                <p>Für die Bildung eines Modells ist eine Reihe manueller Ergänzungen der Daten notwendig. Hierzu zählen
                    die
                    Zuordnung zu einer Kategorie und die Bewertung des Erfolgs. Die Kategorie beschreibt, um welche Art
                    von
                    Marketing es sich im jeweiligen Beitrag handelt (der Zweck), wie z. B. Produktwerbung.</p>
                <p>Ziel des Vorgehens ist es, Modelle zu entwickeln, die Beiträge automatisiert nach Erfolg bewerten oder in Kategorien einteilen
                    kann. Hierfür wurde in Zusammenarbeit mit der ALTHALLER communication GbR ein Satz an Kategorien entwickelt.
                <p>Der Faktor <i>Erfolg</i> ist von der subjektiven Einschätzung des jeweiligen Experten abhängig. Durch die
                    Überführung in das Modell, soll dieser objektiviert werden. Dazu werden Beiträge in erfolgreiche und
                    nicht erfolgreiche klassifiziert. Später soll es damit möglich sein, den Erfolg anhand anderer
                    Eingabeparameter zu prognostizieren. Genauso wie die Kategorisierung handelt es sich an dieser
                    Stelle um eine manuelle Ergänzung der Daten.</p>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Informationen und Bedienung</div>
            <div class="panel-body">
                <p>Die nachfolgende Abbildung gibt einen Überblick über die Informationen und Bedienelemente.</p>
                <p><b>Informationen zum Beitrag</b>: Im oberen blauen Kasten wir der Typ des Beitrags, zusammen
                    mit der Nachricht angezeigt. Je nach Typ werden außerdem ein Video oder Bild mit dargestellt.
                    Darunter finden sich die Anzahl der <i>Likes</i>, <i>Shares</i> und <i>Kommentare</i>, zusammen mit
                    der <i>Seite</i> und dem <i>Erstellungsdatum</i> des Beitrags. Bei späteren
                    Beiträgen ist außerdem die Anzahl der neuen <i>Reaktionen</i> mit aufgeführt.</p>
                <p><b>Kommentare des Beitrags</b>: Die <i>Kommentare des Beitrags</i> werden chronologisch und hierarchisch in
                    einem eigenen Kasten dargestellt. Die Antworten zu einem Kommentar können über den Pfeil auf der
                    linken Seite aufgeklappt werden.</p>
                <p><b>Kategorie</b>: Es sind sämtlich Kategorien auszuwählen, denen der Beitrag zugeordnet werden kann. Der Beitrag muss mindestens einer Kategorie zugeordnet werden.</p>
                <p><b>Erfolg des Beitrags</b>: Anhand der bereitgestellten Informationen soll der Erfolg des Beitrags bewertet werden.</p>
                <p><b>Speichern und weiter</b>: Durch Klicken auf Speichern werden die gemachten Angaben gespeichert. Anschließend
                    wird automatisch ein neuer Beitrag angezeigt.</p>
                <p><b>Überspringen und weiter</b>: Über diese Schaltfläche kann die Bewertung des angezeigten Beitrags übersprungen werden. Anschließend
                    wird automatisch ein neuer Beitrag angezeigt. Hinweis: Von dieser Funktion sollte nur in Einzelfällen Gebrauch gemacht werden, in denen keine Bewertung möglich ist.</p>
            </div>
        </div>
        <img class="img-responsive" src="../static/images/help/post1.png" alt="Chania">
    </div>
{% endblock %}