{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Facebook Post Categoriser</h1>
            <p>Im Rahmen des Projekts Ampel sollen Empfehlungen und Hilfestellungen erstellt werden, die es einem
                Benutzer erlauben, die Qualität eigener Beiträge in Sozialen Netzwerken zu verbessern.</p>
            <p>Die Grundlage der Empfehlungen bildet ein Modell aus Beiträgen. Zur Bildung des Modells müssen Beiträge
                und Kommentare durch die Mithilfe von Experten um weitere Informationen ergänzt werden, zu denen die
                <i>Kategorie des Beitrags</i>, der <i>Erfolg des Beitrags</i> und das <i>Sentiment
                    der Kommentare</i> zählen.</p>
            <p>Die Datensammlung umfasst insgesamt {{ statistic.total }} Beiträge, von denen
                bisher {{ statistic.current }} Beiträge ({{ statistic.percent }} %) kategorisiert wurden.</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"
                     style="min-width: 5em; width: {{ statistic.percent }}%;">
                    {{ statistic.percent }}%
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-5 col-md-4">
                    <a class="btn btn-primary btn-lg btn-block" href="/generate" role="button">Start</a>
                </div>
                <div class="col col-xs-5 col-md-4 pull-right">
                    <a class="btn btn-primary btn-lg btn-block" href="/help" role="button">Hilfe</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}