{% extends "layout.html" %}
{% block title %}Post{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet">
    <!--    <link href="{{ url_for('static', filename='css/bootstrap-treeview.min.css') }}" rel="stylesheet">-->
    <!--<script src="{{ url_for('static', filename='css/bootstrap-treeview.min.js') }}"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-danger row">
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        <div class="row">
            <div class="col col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row panel-title">
                            <div class="col col-xs-8">
                                {% if post.name is not none %}
                                    <a style="color:white;" href="{{ post.perm_link }}"><p>{{ post.name }}</p></a>
                                {% endif %}
                            </div>
                            <div class="col col-xs-4">
            <span class="pull-right"><p> Typ:
                {% if post.type is not none %}
                    <strong>{{ post.type }}</strong>
                {% endif %}
            </p></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {% if post.type == 'PHOTO' and post.picture is not none %}
                                <div class="col col-sm-4 bottom-buffer ">
                                    <img width="100%" src="{{ post.picture }}">
                                </div>
                                <div class="col col-sm-8">
                                    <p>{{ post.text }}</p>
                                </div>
                            {% elif post.type == "VIDEO" and post.source is not none %}
                                <div class="row">
                                    <div class="col col-xs-12 bottom-buffer">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="{{ post.source }}"></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-xs-12">
                                        <p>{{ post.text }}</p>
                                    </div>
                                </div>

                            {% else %}
                                <div class="col col-md-12">
                                    <p>{{ post.text }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Anzahl Likes <img src="{{ url_for('static', filename='images/emotions/like.png') }}"
                                              alt="like"
                                              height="25"></th>
                        <td>{{ post.num_likes }}</td>
                        {% if info.reactions_available == True %}
                            <th>Anzahl Love <img src="{{ url_for('static', filename='images/emotions/love.png') }}"
                                                 alt="like"
                                                 height="25"></th>
                            <td>{{ post.num_love }}</td>
                        {% else %}
                            <th></th>
                            <td></td>
                        {% endif %}
                    </tr>
                    {% if info.reactions_available == True %}
                        <tr>
                            <th>Anzahl Haha <img src="{{ url_for('static', filename='images/emotions/haha.png') }}"
                                                 alt="like"
                                                 height="25"></th>
                            <td>{{ post.num_haha }}</td>

                            <th>Anzahl Wow <img src="{{ url_for('static', filename='images/emotions/wow.png') }}"
                                                alt="like"
                                                height="25"
                            ></th>
                            <td>{{ post.num_wow }}</td>
                        </tr>
                        <tr>
                            <th>Anzahl Sad <img src="{{ url_for('static', filename='images/emotions/sad.png') }}"
                                                alt="like"
                                                height="25"
                            ></th>
                            <td>{{ post.num_sad }}</td>

                            <th>Anzahl Angry <img src="{{ url_for('static', filename='images/emotions/angry.png') }}"
                                                  alt="like"
                                                  height="25"></th>
                            <td>{{ post.num_angry }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Anzahl Shares</th>
                        <td>{{ post.num_shares }}</td>
                        <th>Anzahl Kommentare</th>
                        <td>{{ post.num_comments }}</td>
                    </tr>
                    <tr>
                        <th>Erstellungsdatum</th>
                        <td>{{ post.date }}</td>
                        <th>Seite</th>
                        <td>{{ post.owner }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Kommentare des Beitrags
                    </div>
                    <div class='panel-body fixed-panel'>
                        <div class="list-group list-group-root">
                        {%- for key, value in post.comments.items() recursive %}
                            {%-if value %}
                                <a href={{ '#' + key[1] }} class="list-group-item" data-toggle="collapse"
                                   data-target={{ '#' + key[1] }}>
                                    <i class="glyphicon glyphicon-chevron-right"></i>{{ key[0] }}
                                </a>
                                <div class="list-group collapse" id={{ key[1] }}>
                                    {{ loop(value.items()) }}</div>
                            {% else %}
                                <a href="#" class="list-group-item"> {{ key[0] }} </a>
                            {%- endif %}
                        {%- endfor %}
                    </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">

            <div class="panel-body">
                <form action="{{ url_for('update') }}" method="POST">
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <div class="form-group row">
                        <div class="col col-lg-12">

                            <label for="category">Kategorie</label>
                            <div class="row">
                                {% for category_name in category_names %}
                                    <div class="col-xs-6 radio">
                                        <label><input type="radio" name="category"
                                                      value="{{ category_name[0] }}">{{ category_name[1] }}</label>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col col-sm-6">
                            <label for="success">Erfolg des Beitrags</label>
                            <div class="btn-group btn-group-justified" data-toggle="buttons">
                                <label class="btn btn-success">
                                    <input type="radio" name="success" id="succesful" value="1" autocomplete="off">
                                    erfolgreich
                                </label>
                                <label class="btn btn-danger">
                                    <input type="radio" name="success" id="not_succesful" value="0" autocomplete="off">
                                    nicht erfolgreich
                                </label>
                            </div>
                        </div>
                        <div class="col col-sm-6">
                            <label for="sentiment">Sentiment der Kommentare des Beitrags</label>
                            <div class="btn-group btn-group-justified" data-toggle="buttons">
                                <label class="btn btn-success">
                                    <input type="radio" name="sentiment" id="positive" value="1" autocomplete="off">
                                    positiv
                                </label>
                                <label class="btn btn-warning active">
                                    <input type="radio" name="sentiment" id="neutral" value="0" autocomplete="off">
                                    neutral
                                </label>
                                <label class="btn btn-danger">
                                    <input type="radio" name="sentiment" id="negative" value="-1" autocomplete="off">
                                    negativ
                                </label>
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary btn-block">Speichern</button>

                </form>
            </div>
        </div>
    </div>
    <script>
    $(function () {
        $('.list-group-item').on('click', function () {
            $('.glyphicon', this)
                .toggleClass('glyphicon-chevron-right')
                .toggleClass('glyphicon-chevron-down');
        });
    });
</script>
{% endblock %}
