<!DOCTYPE html>
<html lang="en">

<head>
    <title>Categoriser Tool</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="header bottom-buffer">
        <h3 class="text-muted">Facebook Post Categoriser</h3>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row panel-title">
                <div class="col col-xs-8">
                    {% if post.name is not none %}
                        <a style="color: white" href="{{ post.perm_link }}"><p>{{ post.name }}</p></a>
                    {% endif %}
                </div>
                <div class="col col-xs-4">
            <span class="pull-right"><p> Type:
                {% if post.type is not none %}
                    <strong>{{ post.type }}</strong>
                {% endif %}
            </p></span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                {% if post.type == 'PHOTO' and post.picture is not none %}
                    <div class="col col-sm-4 bottom-buffer ">
                        <img width = "100%" src="{{ post.picture }}">
                    </div>
                    <div class="col col-sm-8">
                        <p>{{ post.text }}</p>
                    </div>
                {% elif post.type == "VIDEO" and post.source is not none %}
                    <div class="row">
                        <div class="col col-xs-12 bottom-buffer">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="{{ post.source }}"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-xs-12">
                            <p>{{ post.text }}</p>
                        </div>
                    </div>

                {% else %}
                    <div class="col col-md-12">
                        <p>{{ post.text }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


    <table class="table">
        <tbody>
        <tr>
            <th>Anzahl Likes <img src="{{ url_for('static', filename='images/emotions/like.png') }}" alt="like"
                                  height="25"></th>
            <td>{{ post.num_likes }}</td>

            <th>Anzahl Love <img src="{{ url_for('static', filename='images/emotions/love.png') }}" alt="like"
                                 height="25"></th>
            <td>{{ post.num_love }}</td>
        </tr>
        <tr>
            <th>Anzahl Haha <img src="{{ url_for('static', filename='images/emotions/haha.png') }}" alt="like"
                                 height="25"></th>
            <td>{{ post.num_haha }}</td>

            <th>Anzahl Wow <img src="{{ url_for('static', filename='images/emotions/wow.png') }}" alt="like"
                                height="25"
            ></th>
            <td>{{ post.num_wow }}</td>
        </tr>
        <tr>
            <th>Anzahl Sad <img src="{{ url_for('static', filename='images/emotions/sad.png') }}" alt="like"
                                height="25"
            ></th>
            <td>{{ post.num_sad }}</td>

            <th>Anzahl Angry <img src="{{ url_for('static', filename='images/emotions/angry.png') }}" alt="like"
                                  height="25"></th>
            <td>{{ post.num_angry }}</td>
        </tr>
        <tr>
            <th>Anzahl Shares</th>
            <td>{{ post.num_shares }}</td>
            <th>Anzahl Comments</th>
            <td>{{ post.num_comments }}</td>
        </tr>
        </tbody>
    </table>


    <div class="panel panel-default">
        <div class="panel-body">
            <form action="{{ url_for('update') }}" method="POST">
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <div class="form-group row">
                    <div class="col col-lg-12">
                        <label for="category">Category</label>
                        <select class="form-control" name="category">
                            <option>Produkt Werbung</option>
                            <option>Besondere Aktion (Rabatt)</option>
                            <option>Anderes Thema</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col col-sm-6">
                        <label for="success">Erfolgreich</label>
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-success">
                                <input type="radio" name="success" id="succesful" value="1" autocomplete="off">
                                Erfolgreich
                            </label>
                            <label class="btn btn-danger">
                                <input type="radio" name="success" id="not_succesful" value="0" autocomplete="off"
                                       checked> Nicht
                                Erfolgreich
                            </label>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <label for="sentiment">Sentiment </label>
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-success">
                                <input type="radio" name="sentiment" id="positive" value="1" autocomplete="off">
                                Positive
                            </label>
                            <label class="btn btn-warning active">
                                <input type="radio" name="sentiment" id="neutral" value="0" autocomplete="off"
                                       checked> Neutral
                            </label>
                            <label class="btn btn-danger">
                                <input type="radio" name="sentiment" id="negative" value="-1" autocomplete="off">
                                Negative
                            </label>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Aktualisieren</button>

            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>

</html>
